/* estilos del index */
/* estilos del body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  background-color: #FFF9F9;
  /* estilos del html cursos */
  /* estilos del html nosotros */
  /* estilos del html contacto */
  /* estilos del html idiomas */ }
  body header {
    background-color: #CDF2CA; }
    body header div img {
      margin-left: 2rem; }
    body header .navbar {
      padding-right: 1.5rem;
      display: flex;
      flex-direction: row;
      justify-content: end; }
    body header div .espacio-menu a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: #184D47; }
  body main h2 {
    margin-top: 2rem;
    text-align: center;
    color: #184D47; }
  body main p {
    text-align: center;
    color: #184D47; }
  body main .inicio {
    margin-top: 2rem;
    background-color: #CDF2CA; }
    body main .inicio div {
      margin: 0.5rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      body main .inicio div h3 {
        color: #184D47; }
      body main .inicio div img {
        width: 30%; }
  body footer {
    background-color: #CDF2CA; }
    body footer h4 {
      margin-top: 2rem;
      padding-top: 1rem;
      color: #184D47;
      font-size: 17px; }
    body footer .imagenes a {
      padding: 0.5rem;
      display: inline; }
    body footer .pie {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      text-align: center;
      color: black;
      font-size: medium; }
  body main .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body main .container .card {
      box-shadow: 3px 3px 4px #CDF2CA; }
    body main .container .btn {
      background-color: #CDF2CA; }
  body main .sobre-nosotros {
    margin-top: 0.7rem;
    font-size: 17px; }
    body main .sobre-nosotros h2 {
      margin-top: 0.7rem; }
    body main .sobre-nosotros .img {
      display: none; }
  body main h2 {
    color: #184D47;
    font-size: 20px; }
  body main .color {
    color: #184D47; }
  body main .enviar {
    margin: 0.5rem;
    text-align: center; }
  body main .bandera-dos {
    margin-bottom: -1rem; }
  body main .card-text {
    margin-top: 1rem; }

/* media queries */
@media screen and (min-width: 650px) {
  body main .inicio {
    margin-top: 2rem; }
  body main section {
    display: flex;
    flex-direction: row; }
    body main section .gorro {
      margin-top: -0.1rem; }
    body main section .chat {
      margin-top: 0.2rem; }
    body main section .diploma {
      margin-top: -0.2rem; } }

@media screen and (min-width: 950px) {
  body {
    /* estilos del html contacto */
    /* estilos del html nosotros */
    /* estilos de html idiomas */ }
    body header div img {
      margin-left: 4rem; }
    body header .espacio-menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem; }
    body header div .espacio-menu a {
      text-decoration: none;
      font-size: 19px;
      padding: 10px;
      color: #184D47; }
    body main .inicio {
      margin-top: 2rem; }
    body main section {
      display: flex;
      flex-direction: row; }
      body main section .clases {
        margin-top: -0.3rem; }
      body main section .chat {
        margin-top: 0.1rem; }
      body main section .diploma {
        margin-top: -0.5rem; }
      body main section h3:hover {
        transform: scale(1.1); }
    body footer .imagenes a {
      display: inline;
      gap: 2rem;
      width: 30%; }
    body footer .pie {
      text-align: center; }
    body main .container-fluid {
      padding-right: 60px;
      padding-left: 60px; }
      body main .container-fluid div .enviar {
        margin: 0.5rem;
        text-align: center; }
    body main .sobre-nosotros {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 2fr 2fr 2fr;
      grid-template-areas: "img texto" "img texto" "img texto"; }
      body main .sobre-nosotros .texto {
        grid-area: texto;
        margin-right: 2rem;
        margin-top: -1rem;
        padding-top: 2rem; }
      body main .sobre-nosotros .img {
        grid-area: img;
        margin-top: 2rem;
        margin-left: 1.5rem;
        filter: drop-shadow(3px 3px 6px #4b8eb1);
        display: inline-block; }
    body main .bandera-dos {
      margin-bottom: -1rem; }
    body main .cards {
      row-gap: 3rem;
      margin-left: 2rem;
      margin-right: 2rem; }
      body main .cards .card-text {
        margin-top: 1rem; }
        body main .cards .card-text:hover {
          transform: scale(1.1); } }
