@import "sass/variables";

/* estilos del index */
/* estilos del body */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
    background-color: #FFF9F9;
    header{
        background-color: #CDF2CA;
        .menu{
            display: flex;
            justify-content: end;
            list-style: none;
            gap: $medida-principal;
            div .espacio-menu a{
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: $color-principal;
            }
        }
    }
    main h2{
        margin-top: $medida-principal;
        text-align: center;
        color: $color-principal;
    }
    main p{
        text-align: center;
        color: $color-principal;
    }
    .ejemplos{
        margin-top: $medida-principal;
        padding-top: 1rem;
        padding-bottom: 0.7rem;
        display: flex;
        flex-direction: column;
        color: $color-principal;
        background-color: #CDF2CA;
        h3{
            text-align: center;
        }
    }
    footer{
        background-color: #CDF2CA;
        h4{
            margin-top: $medida-principal;
            padding-top: 1rem;
            color: $color-principal;
            font-size: 17px;
        }
        .imagenes a{
            padding: 0.5rem;
            display: inline;
        }
        .pie{
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            text-align: center;
            color: black;
            font-size: medium;
        }
    }
    /* estilos del html cursos */
    main .container{
             display: flex;
             flex-direction: column;
             align-items: center;
            .card{
                 margin: 1rem;
           }
            .boton-color{
        background-color: #CDF2CA;
    }
      }
      /* estilos del html nosotros */
     .sobre-nosotros{
            margin-top: 0.7rem;
            font-size: 17px;
      main .sobre-nosotros h2{
    margin-top: 0.7rem;
       }
}

}